{% extends 'layouts/base.html.twig' %}

{% block title %}BlaBlaArticle - Лучший генератор статей{% endblock %}

{% block content %}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

                    <h2 class="card-title text-center mb-4">Создание статьи</h2>
                    {% if disabled %}
                        <div class="alert alert-warning" role="alert">
                            Демонстрационная форма более не доступна, для полноценного использования сервиса нужно <a href="{{ path('app_register') }}">зарегистрироваться</a>
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Чтобы создать статью по настоящему <a href="{{ path('app_register') }}">Зарегистрируйтесь</a>
                        </div>
                    {% endif %}

                    {{ form_start(generateDemoArticleForm, {
                        attr: { class: 'form-signin'}
                    }) }}
                    <div class="form-label-group">
                        {{ form_widget(generateDemoArticleForm.articleTitle) }}
                        {{ form_label(generateDemoArticleForm.articleTitle, 'Заголовок статьи' ) }}
                    </div>
                    <div class="form-label-group">
                        {{ form_widget(generateDemoArticleForm.articleWord) }}
                        {{ form_label(generateDemoArticleForm.articleWord, 'Продвигаемое слово' ) }}
                    </div>

                    {{ form_widget(generateDemoArticleForm.btnTry) }}
                    {{ form_end(generateDemoArticleForm) }}
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <h2 class="card-title text-center mb-4">{{ generateDemoArticleForm.vars['value'].articleTitle }}</h2>

                    <div class="row">
                        <div class="p-3">
                            <h2>Добавляйте свои слова</h2>
                            <p class="lead mb-0">{{ paragraphs[0] }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="showcase-text p-3">
                            <div class="media">
                                <div class="media-body">
                                    <h2>Вставляйте изображения</h2>
                                    <p class="lead mb-0">{{ paragraphs[1] }}</p>
                                    <p class="lead mb-0">{{ paragraphs[2] }}</p>
                                </div>
                                <img class="ml-3" src="{{ asset('img/bg-showcase-2.jpg') }}" width="518" height="345" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="p-3">
                            <h2>Интегрируйтесь по API</h2>
                            <p class="lead mb-0">{{ paragraphs[3] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Готовы начать? Регистрируйтесь прямо сейчас!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="form-row">
                        <div class="col-12 col-md-6 mx-auto">
                            <a href="{{ path('app_register') }}" class="btn btn-block btn-lg btn-primary">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}